%h4
  = flash[:notice]
.container
  .row
    .col-md-offset-4.col-md-4
      .panel.panel-default
        .panel-heading 
          %h4{:style=>"text-align:center;"} Search Addresses
        .panel-body
          .search-form
            %form#searchForm.form-horizontal
              .form-group
                %label.control-label.col-md-2{:for => "street"} Street:
                .col-md-10
                  %input#street.form-control{:placeholder => "Street Address",:name=>"address[street]", :type => "text"}/
              .form-group
                %label.control-label.col-md-2{:for => "city"} City:
                .col-md-10
                  %input#city.form-control{:placeholder => "City",:name=>"address[city]",:type => "text"}/
              .form-group
                %label.control-label.col-md-2{:for => "state"} State:
                .col-md-10
                  %input#state.form-control{:placeholder => "State Abbrev",:name=>"address[state]", :type => "text"}/
              .form-group
                %label.control-label.col-md-2{:for => "zip"} Zipcode:
                .col-md-10
                  %input#zip.form-control{:placeholder => "ZipCode",:name=>"address[zipcode]", :type => "number"}/
              .form-group
                .col-md-offset-4.col-md-8
                  %button.btn.btn-default{:type => "submit"} Search
              %div{:style=>"text-align:center"} (Click search with empty fields to get all records)

.container
  %table#tableOutput.table.table-striped.table-bordered{:width=>"100%",:cellspacing=>"0"}
    %thead
      %tr
        %th AddressID
        %th Street
        %th City
        %th State
        %th Zipcode
        %th Action

.well
  .row
    .col-md-offset-5.col-md-4
      %a{:href=>"/addresses/new"}
        %button#newAddress.btn.btn-primary{:name => "newAddress"} Add New Address

%input#urlVal{:type => "hidden", :value => "/addresses/display"}

:javascript
  function doView(id,tableName)
  {
    window.location.href = '/addresses/'+id+'/edit';
  }
  function doDelete(id,tableName)
  {
      $.ajax({
        url: '/addresses/'+id,
        type: 'DELETE',
        success: function(result) {
           alert("Message: "+result['message']);
        }
    });
  }